body, html {
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
  padding-bottom: 3rem;
}

.bg {
  background: url('bkimg.jpg');
  background-size: cover;
  background-position: center;
  filter:blur(2px);
  -webkit-filter: blur(2px);
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
}

.container {
  background-color: rgba(255, 255, 255, .3);
  width: 45%;
}

h1 { 
  text-align: center; 
  font-size: 3rem;
}

.addTaskForm input:focus {
  outline:none;
}

.addTaskButton {
  width: 10%;
}

.lists {
  min-height: 50%;
  margin: auto;
  text-align: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}

ul {
   list-style-type: none;
   padding-left: 0%;
}

li {
  padding: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  text-align: left;
}

.buttons:focus {
  outline: none;
}

.main-footer p {
  color: white;
  font-size: 0.8rem;
  text-align: center;
}

@media (max-width:428px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 375px) {
  body {

  }
  
  .container {
    width: 95%;
  }
}