body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  background-size: cover;
}

.background-image {
  background: url('bkimg.jpg');
  background-size: cover;
  filter: blur(2px);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  position:fixed;
  box-sizing: border-box;
}

header {
  background-color: rgba(256,256,256, 0.3);
  width: 450px;
  margin: 4rem auto auto auto;
  padding: 0 3%;
  box-shadow: 0 0 0 10px rgba(0,0,0, 0.1);
}

h1 { 
  text-align: center; 
  font-size: 3rem;
}

.add-tasks {
  position: relative;
  text-align: left;
  margin-bottom: 1rem;
}

.add-tasks__input  {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  font-size: 1rem;
}


.input1 {
  margin: 0;
  padding: 0.4rem;
  border: 1px solid rgba(0,0,0, 0.1);
  width: 80%;
  right:0;
}

.input1:hover {
  border: 1px solid rgba(0,0,0, 0.5);
}

.input2 {
  background-color:rgb(240, 207, 58);
  box-sizing: border-box;
  border: 1px solid rgb(240, 207, 58);
  margin:0;
  width: 19%;
  padding: 0.4rem;
  left:0;
}

.input2:hover {
  border: 1px solid rgba(0,0,0, 0.3);
}


.lists {
  position: relative;
  min-height: 50vh;
  min-width:450px;
  width: 35vw;
  margin: auto;
  padding: 3%;
  text-align: center;
  align-content: center;
  background-color: white;
  box-shadow:0 0 0 10px rgba(0,0,0, 0.1);
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.to-do {
  flex: 1;
}

ul {
   list-style-type: none;
   padding-left: 0%;
}

li {
  padding: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  text-align: left;
}


.btn-list {
  flex: 1;
}

button {
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  border: none;
  padding: 0.5rem;
  width:6rem;
  height: 2.2rem;
  font-size: 1rem;
}


button:hover {
   background-color: rgb(240, 207, 58) ;
   box-shadow:0 0 0 3px rgba(240, 207, 58, 0.2);
}

.main-footer {
  bottom: 0;
  margin-top: 3rem;
}

.main-footer p {
  color: white;
  font-size: 0.8rem;
  text-align: center;
}

@media (max-width:428px) {
  header {
    width: 350px;
    margin: auto;
  }
  .lists {
    min-width: 350px;     
  }
  .input2 {
    width: 18%;
  }
}

@media (max-width: 375px) {
  header {
    width: 275px;
  }
  .lists {
    min-width: 275px;
  }
  .input2 {
    width: 17%;
  }
}